<template>
  <div>
    <div class="row calculator">
      <div class="col expressions">
        <div v-for="(exp, index) in expressions" class="exp-block" :key="`exp-${index}`">
          <button class="delete" @click="deleteExpByIndex(index)" v-show="expressions.length > 1">X</button>
          <input class="exp" v-mask="`##`" v-model="exp.top">
          <div class="delimer"></div>
          <input class="exp" v-model="exp.bottom">
        </div>
      </div>
      <div class="col add-block" v-show="expressions.length < 5">
        <button @click="addExp">+</button>
      </div>
      <div class="col result">
        {{ result }}
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Calculator",
    data() {
      return {
        expressions: [
          {top: 1, bottom: 2}
        ]
      }
    },
    methods: {
      addExp() {
        this.expressions.push({ top: '', bottom: '' })
      },
      deleteExpByIndex(index) {
        this.expressions.splice(index, 1);
      }
    },
    computed: {
      result() {
        return this.expressions.reduce((acc, val) => {
          const top = parseInt(val.top)
          const bottom = parseInt(val.bottom)
          if (top > 0 && bottom > 0) {
            return acc + (top / bottom);
          }

          return 0
        }, 0)
      }
    },
  }
</script>

<style lang="scss" rel="stylesheets/scss" scoped>
  $base-color: #006dff;

  .calculator {
    margin: 0 auto;

    .expressions {
      font-family: 'Caveat', Helvetica, Arial, sans-serif;
      max-width: 500px;
      margin: 0 auto;
      color: $base-color;

      .exp-block {
        display: inline-block;
        margin-right: 30px;
        position: relative;

        &::after {
          content: "+";
          font-size: 40px;
          position: absolute;
          top: 16px;
          left: 40px;
        }

        &:last-child {
          margin-right: 20px;

          &::after {
            display: none;
          }
        }

        &:hover {
          .delete {
            display: block;
          }
        }

        .delete {
          display: none;
          position: absolute;
          right: -10px;
          top: -15px;
          font-family: 'Caveat', Helvetica, Arial, sans-serif;
          font-size: 17px;
          background: transparent;
          border: 0;
          padding: 2px 7px;
          font-weight: bold;
          color: #c81111;
          cursor: pointer;
        }

        .exp {
          font-family: 'Caveat', Helvetica, Arial, sans-serif;
          color: $base-color;
          font-size: 22px;
          width: 30px;
          border: 0;
          background: lighten($base-color, 45);
          text-align: center;
          border-radius: 4px;
        }

        .delimer {
          height: 3px;
          //background: $base-color;
          margin: 10px 0;
          border-radius: 2px;
          background-image: url("../assets/pen-lines.png");
          background-color: transparent;
          background-size: cover;
          background-position: center center;
          background-repeat: repeat-y;
        }
      }
    }

    .add-block {
      button {
        font-family: 'Caveat', Helvetica, Arial, sans-serif;
        font-size: 60px;
        height: 88px;
        width: 60px;
        background-image: url("../assets/pen-lines.png");
        background-color: transparent;
        background-size: contain;
        background-position: center center;
        background-repeat: repeat-y;
        border: 0;
        color: #fff;
        cursor: pointer;
        opacity: 0.9;

        &:hover {
          opacity: 1;
        }
      }
    }

    .result {
      font-size: 44px;
      position: relative;
      padding-left: 40px;
      color: $base-color;

      &::before {
        content: "=";
        font-size: 40px;
        position: absolute;
        top: 16px;
        left: 15px;
      }
    }
  }

  .row {
    display: table;
    table-layout: fixed;
  }

  .col {
    display: table-cell;
    vertical-align: middle;
  }
</style>
