<template>
  <div id="app">
    <Calculator/>
  </div>
</template>

<script>

  import Calculator from "./components/Calculator";

  export default {
    name: 'app',
    components: {
      Calculator
    }
  }
</script>

<style lang="scss">
  body {
    //background-image: url("http://imageru.ru/uploads/posts/2015-04/1427989600_notepad-patterns.jpg");
  }

  #app {
    @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
    font-family: 'Caveat', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
